{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federated Core Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <header class="header main-grid">
        <h1 class="header__title">Federated Core</h1>
        {{template "nav" .}}
    </header>
    <main class="main main-grid">
        {{template "main" .}}
    </main>
    <footer class="footer main-grid">
        <img class="footer__kitty" src="/static/img/kitty.png" alt="">
        <p class="footer__excerpt">Powered by <a href="https://www.federated.computer">Federated Computer</a></p>
    </footer>
</body>
</html>
{{end}}