/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: 1.6;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* TYPE */

h1 {
    font-size: 3rem;
}

/* GRID */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* HEADER */

.header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.header__title {
    grid-column: 2/3;
    margin-top: 2em;
}

/* Nav */

.nav {
    text-align: center;
    margin-bottom: 1em;
    grid-column: 2/3;
}

.nav-list {
    grid-column: 2/3;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
}

.nav-link a{
    text-decoration: none;
    color: black;
}

/* App Links */

.app-links {
    grid-column: 2/3;
    text-align: center;
}

.app-links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 3em;
    gap: 3em;
}

@media (max-width: 449px) {
    .app-links-container {
        grid-template-columns: 1fr;
    }
}

.app-link-card-link {
    text-decoration: none;
    color: black;
    display: contents;
}

.app-link-card {
    margin-bottom: 1em;
    max-width: 250px;
    text-align: center;
}

.app-link-card__image {
    max-width: 100px;
    margin: 0 auto;
}

.app-links-attribution {
    font-size: .6rem;
    color: rgb(122, 116, 116);
}

.app-link-card__ldap-notice {
    font-size: .75rem;
}

/* Footer */ 

.footer {
    margin-top: auto;
    text-align: center;
}

.footer__excerpt,
.footer__kitty {
    grid-column: 2/3;
    justify-self: center;
}